{% extends 'base.html' %}
{% block title %} Change Password {% endblock title %}

{% block body %}

<div class="container" style="padding-top:80px">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset>
            <h2 style="padding-bottom:80px">{{legend}}</h2>
            
            <div class="form-floating mb-3">
                {{form.password.label(class="form-control-label")}}
                {%if form.password.errors%}
                {{form.password(class="form-control form-control-lg is-invalid")}}
                    {%for error in form.password.errors%}
                    <span>{{error}}</span>
                    {% endfor %}
                {% else %}
                {{form.password(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-floating mb-3">
                {{form.confirm_password.label(class="form-control-label")}}
                {%if form.confirm_password.errors%}
                {{form.confirm_password(class="form-control form-control-lg is-invalid")}}
                    {%for error in form.confirm_password.errors%}
                    <span>{{error}}</span>
                    {% endfor %}
                {% else %}
                {{form.confirm_password(class="form-control form-control-lg")}}
                {% endif %}
            </div>
           
        </fieldset>
        <div class="field-group mt-3">
            {{form.submit(class='btn btn-primary')}}
        </div>
    </form>
</div>

{% endblock body %}