{% extends 'base.html' %}
{% block title %} The Wholesalers|Home {% endblock title %}
{% block body %}

<div class="container-fluid wy-3">
  <br><br>

  <h1 align="center">Welcome to The Wholesalers...<br><br><br>Soon to be becoming Indian retailers first choice</h1>
  <br><br>
</div>
<div class="container overflow-hidden">
<div class="row gx-5">
<div class="col">
 <div class="p-3 border bg-light" style="border-radius:50px;">
   <h2 style="font-weight:bold;">Stock</h2>
   <ul>
     <li><h4 style="font-weight:bold;">View current Stock</h4></li>
     <li><h4 style="font-weight:bold;">Update Stock Details</h4></li>
   </ul>
   {%if current_user.is_authenticated%}
   <h4>Please click Below</h4>
   <h3 align="center"><a href="/welcome_stocks" align="center" class="BUTTON_CZN">Stocks</a></h3>
   {%endif%}
  
 </div>
</div>
<div class="col">
  <div class="p-3 border bg-light" style="border-radius:50px;">
    <h2>Orders</h2>
    <ul >
      <li><h4 style="font-weight:bold;">View Pending Orders</h4></li>
      <li><h4 style="font-weight:bold;">View History Of Orders</h4></li>
      <li><h4 style="font-weight:bold;">Place an order</h4></li>
      <li><h4 style="font-weight:bold;">View Pending Payments</h4></li>
    </ul>
    {%if current_user.is_authenticated%}
    <h4>Please click Below</h4>
    <h3 align="center"><a href="/orders" align="center" class="BUTTON_CZN">Orders</a></h3>
    {%endif%}
   
  </div>
</div>
</div>
</div>

{% endblock body %}
